<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{meta.title}}</title>
<meta name="keywords" content="{{meta.keywords}}" />
<meta name="description" content="{{meta.description}}" />
<link rel="stylesheet" href="{{constant.URL.RESOURCE}}/common/res/css/base.css?{{hash.css.common_res_css_base}}" />
<link rel="stylesheet" href="{{constant.URL.RESOURCE}}/common/res/css/sprite.css?{{hash.css.common_res_css_sprite}}" />
<link rel="stylesheet" href="{{constant.URL.RESOURCE}}/common/libs/header/style.css?{{hash.css.common_libs_header_style}}" />
<link rel="stylesheet" href="{{constant.URL.RESOURCE}}/user/libs/login/style.css?{{hash.css.user_libs_login_style}}" />
<link rel="stylesheet" type="text/css" href="{{constant.URL.RESOURCE}}/common/libs/footer/style.css?{{hash.css.common_libs_footer_style}}" />
</head>
<body>
<header>Header</header>
<div class="ar">
  <div class="arc">
<form id="login-form">
  <p><label for="username">用户名</label><input id="username" type="text" /></p>
  <p><label for="password">密码</label><input id="password" type="password" /></p>
  <p><input type="submit" value="确认" /></p>
</form>
<img src="{{constant.URL.RESOURCE}}/common/res/img/gray_100.jpg?{{hash.img.common_res_img_gray_100_jpg}}" alt="gray_100" />
</div>
</div>
<footer>Footer</footer>
<script order="0">
var linkUrl={user:'{{constant.linkUrl.user}}'},rendered={{variable.rendered}};
var dataUrl={render:'{{{constant.dataUrl.render}}}'};
</script>
<script>
var dataUrl={render:'{{{constant.dataUrl.render}}}',login:'{{{constant.dataUrl.login}}}'};
</script>
<script order="1" src="{{constant.URL.RESOURCE}}/bower_components/jquery-legacy/dist/jquery.min.js?{{hash.bower.jquery-legacy}}"></script>
<script order="2" src="{{constant.URL.RESOURCE}}/bower_components/js-cookie/src/js.cookie.min.js?{{hash.bower.js-cookie}}"></script>
<script order="3" src="{{constant.URL.RESOURCE}}/bower_components/handlebars/handlebars.min.js?{{hash.bower.handlebars}}"></script>
<script order="4" src="{{constant.URL.RESOURCE}}/common/res/js/base.js?{{hash.js.common_res_js_base}}"></script>
<script src="{{constant.URL.RESOURCE}}/user/libs/login/script.js?{{hash.js.user_libs_login_script}}"></script>
</body>
</html>